<html>
    <title></title>
    <head></head>
    <link rel="stylesheet" href="css/style.css">
    <body>
        {{>header}}
        <h1>{{h1}} File Created by {{name}}</h1>
                {{>footer}}
        <script src="js/script.js"></script>
    </body>
</html>